@page "/myorders/{orderId:int}"
@attribute [Authorize]
@using System.Threading
@inject OrdersClient OrdersClient
@inject OrderState OrderState

@implements IDisposable

<PageTitle>Slice Slice Baby - Order Details</PageTitle>

<div class="main">
    @if (invalidOrder)
    {
        <div class="alert alert-danger" role="alert">
            <h4>Order not found!</h4>
            <p>Sorry, this order could not be loaded.</p>
        </div>
    }
    else if (orderWithStatus is null)
    {
        <text>Loading...</text>
    }
    else
    {
        <div class="card mb-3">
            <div class="card-header">
                <h2>Order placed @orderWithStatus.Order.CreatedTime.ToString("MMMM dd, yyyy")</h2>
                <p class="mb-0">
                    Status: <strong>@orderWithStatus.StatusText</strong>
                </p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <OrderReview Order="orderWithStatus.Order" />
                    </div>
                    <div class="col-md-6">
                        <Map Zoom="13" Markers="orderWithStatus.MapMarkers" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter] public int OrderId { get; set; }

    OrderWithStatus? orderWithStatus;
    bool invalidOrder;
    CancellationTokenSource? pollingCancellationToken;

    protected override void OnParametersSet()
    {
        // If we were already polling for a different order, stop doing so
        pollingCancellationToken?.Cancel();

        // Start a new poll loop
        PollForUpdates();
    }

    private async void PollForUpdates()
    {
        invalidOrder = false;
        pollingCancellationToken = new CancellationTokenSource();
        while (!pollingCancellationToken.IsCancellationRequested)
        {
            try
            {
                orderWithStatus = await OrdersClient.GetOrder(OrderId);
                StateHasChanged();

                if (orderWithStatus.IsDelivered)
                {
                    pollingCancellationToken.Cancel();
                }
                else
                {
                    await Task.Delay(4000);
                }
            }
            catch (AccessTokenNotAvailableException ex)
            {
                pollingCancellationToken.Cancel();
                ex.Redirect();
            }
            catch (Exception ex)
            {
                invalidOrder = true;
                pollingCancellationToken.Cancel();
                Console.Error.WriteLine(ex);
                StateHasChanged();
            }
        }
    }

    void IDisposable.Dispose()
    {
        pollingCancellationToken?.Cancel();
    }
}
